{% extends "vibe/base.html" %}
{% block content %}
    {% for view in views %}
        <h1>{{ view.Title }}</h1>
        <p>Content: {{ view.Content }}</p>
        <p>Top Channels: {{ view.Top_Channels }}</p>
    {% endfor %}

<style>
h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

p {
    animation-duration: 3s;
    animation-name: slideout;
    animation-direction: normal;
}

@keyframes slideout {
    from {
        margin-left: 0%;
        width: 300%;
    }

    to {
        margin-left: 20%;
        width: 50%;
    }
}

</style>
{% endblock content %}
