 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">
    <title>Available Bots</title>
</head>
<body>

<div class="header">
    <div class="container">
        <div class="header-line">
            <div class="header-logo">
                <img src="imeg/logo1.png" alt="">
        </div>
        <div class="nav">
            <a class ='nav-item' href="@">Главная</a>
            <a class ='nav-item' href="@">Прайс</a>
            <a class ='nav-item' href="@">О нас</a>
            <a class ='nav-item' href="@">Заказать</a>
        </div>
    </div>    
</div>
<div class ="story">
    <div>
      <div class ="story" href="@">
        <a class ='story' href="https://www.youtube.com/watch?v=5k-x7FUnDuE"></a>
        <h2>Jane Doe</h2>
        <span>bot</span>
      </div>
    </div>
    <div>
      <div class ="story" href="@">
        <h2>Alex Smith</h2>
        <a class="story" href="https://www.youtube.com/watch?v=2YCQrwTeet8"></a>
        <span>bot</span>
        
      </div>
    </div>
    <div>
      <div class ="story" href="@">
        <h2>Emily New</h2>
        <span>bot</span>
      </div>
    </div>
    <div>
      <div class ="story" href="@">
        <h2>Lisa Boley</h2>
        <span>bot</span>
      </div>
    </div>
  </div>
<div class="article-content">
  <h2 class="article-title">Заблуждения про ИИ распространены, но не все они верны.
     В этой статье мы разберем некоторые из них и узнаем,
      как обстоят дела на самом деле.</h2>
      <div class="article-text">
        <p>Заблуждение 1: ИИ может заменить человека во всех сферах деятельности.</p>
        <p>Реальность: Хотя ИИ может выполнять некоторые задачи лучше, чем люди, он не может полностью заменить их во всех сферах. Например, ИИ не может принимать решения, основанные на эмпатии или интуиции.</p>
        <p>Заблуждение 2: ИИ всегда дает правильные ответы.</p>
        <p>Реальность: Как и любой другой алгоритм, ИИ может допускать ошибки. Однако, ошибки ИИ можно обнаружить и исправить, в отличие от ошибок, которые могут допускать люди.</p>
        <p>Заблуждение 3: ИИ всегда работает быстро и эффективно.</p>
        <p>Реальность: Скорость работы ИИ зависит от многих факторов, включая мощность процессора, объем памяти и качество данных, которые используются для обучения модели.</p>
        <p>Заблуждение 4: ИИ всегда принимает решения на основе логики и фактов.</p>
        <p>Реальность: В некоторых случаях ИИ может принимать решения на основе предубеждений, которые были заложены в модель при ее обучении. Это может привести к дискриминации или другим негативным последствиям.</p>
      </div>

</div>  
</body>
</html>




